* {
    margin: 0;
    padding: 0;
}

body {
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input {
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
}

#heading {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
}

#container {
    border: 1px solid red;
    margin: 0 auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#otp_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#buttons {
    display: flex;
    gap: 2rem;
}

.button {
    border: none;
    background-color: rgb(2, 52, 98);
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1rem;
    width: 130px;
    letter-spacing: 1px;
    cursor: pointer;
}

.reset {
    background: rgb(77, 22, 1);
}
.submit {
    background: rgb(0, 79, 45);
}


#yourOtp {
    position: fixed;
    top: 1rem;
    right: -15rem;
    color: #111;
    background: #fff;
    border-bottom: 4px solid green;
    padding: .7rem .9rem;
    width: 200px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}